# .env.template 파일 내용
# 이 파일을 복사해서 이름을 .env로 바꾸고 본인의 환경에 맞게 값을 채워주세요.

DB_USER=root
DB_PASSWORD=[비밀번호]
DB_NAME=ddalgi
MQTT_BROKER=localhost

# AWS S3 설정
AWS_ACCESS_KEY_ID=본인의_AWS_액세스키
AWS_SECRET_ACCESS_KEY=본인의_AWS_시크릿키
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=본인의_버킷_이름